@import "./assets/styles/tailwind.css";
@import "./assets/styles/themes.css";
@import "./assets/styles/main.css";

:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
